export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export CLOUDFLARE_API_KEY=""
export CLOUDFLARE_ZONE_ID=""
export RUNPOD_CREATION_RETRIES=3
export RUNPOD_GPU_TYPE="NVIDIA GeForce RTX 3090"
export RUNPOD_IMAGE_NAME="runpod/stable-diffusion:web-ui-10.1.0"
export RUNPOD_POD_NAME="runpod"
export RUNPOD_POD_COUNT=2
export RUNPOD_POD_START_RETRIES=30
export RUNPOD_POD_START_RETRY_DELAY=60
export CADDY_DOMAIN=""
export LIGHTSAIL_INSTANCE_NAME=""
export LIGHTSAIL_INSTANCE_REGION="ap-northeast-1"
export LIGHTSAIL_INSTANCE_BUNDLE_ID="small_3_0"